<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="qnaMapper">
  
  <sql id="kind">
  	like '%'||#{search}||'%'
  </sql>
  
  <resultMap type="QnaDTO" id="qnaResult">
  	<id property="num" column="num"/>
  	<result property="title" column="title"/>
  	<result property="writer" column="writer"/>
  	<result property="contents" column="contents"/>
  	<result property="reg_date" column="reg_date"/>
  	<result property="hit" column="hit"/>
  	<result property="ref" column="ref"/>
  	<result property="step" column="step"/>
  	<result property="depth" column="depth"/>
  	<collection property="fileNames" javaType="ArrayList" ofType="FileDTO">
  		<id property="fnum" column="fnum"/>
  		<result property="num" column="num"/>
  		<result property="filename" column="filename"/>
  		<result property="oriname" column="oriname"/>
  	</collection>
  	
  </resultMap>
  
  <update id="stepUpdate" parameterType="QnaDTO" >
  	<![CDATA[
  	update qna set step=step+1 where ref=#{ref} and step>#{step}
  	]]>
  </update>
  
  <insert id="reply" parameterType="QnaDTO">
  	insert into qna 
  	values(board_seq.nextval,#{title},#{writer},#{contents},sysdate,0,
  	#{ref},#{step}+1,#{depth}+1)
  </insert>
  
  <select id="selectOne" parameterType="int" resultMap="qnaResult">
  	select qna.*, upload.* from qna, upload 
  	where qna.num=#{num} and qna.num=upload.num
  	order by ref desc, step asc
  </select>
  
  <select id="selectList" parameterType="com.iu.util.RowNum" resultType="com.iu.board.BoardDTO">
  	select * from
  	(select rownum r, N.* from
  	(select * from qna 
  	<if test="kind == 'Title'">
  		where title
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'Writer'">
  		where writer
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'Contents'">
  		where contents
  		<include refid="kind"></include>
  	</if>
  	order by ref desc, step asc) N)
  	where r between #{startRow} and #{lastRow}
  </select>
  
  <insert id="insert" parameterType="com.iu.board.BoardDTO">
  	<selectKey keyProperty="num" resultType="int" order="BEFORE">
  		select board_seq.nextval from dual
  	</selectKey>
  	insert into qna
  	values(#{num},#{title},#{writer},#{contents},sysdate,0,#{num},0,0)
  </insert>
  
  <update id="update" parameterType="com.iu.board.BoardDTO">
  	update qna set title=#{title}, contents=#{contents} where num=#{num}
  </update>
  
  <delete id="delete" parameterType="int">
	delete qna where num=#{num}
  </delete>
  
  <select id="totalCount" parameterType="com.iu.util.RowNum" resultType="int">
  	select count(*) from qna
  	<if test="kind == 'title'">
  		where title
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'writer'">
  		where writer
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'contents'">
  		where contents
  		<include refid="kind"></include>
  	</if>
  </select>
  
  <update id="hitUpdate" parameterType="int">
  	update qna set hit=hit+1 where num=#{num}
  </update>
  
  <select id="getNum" resultType="int">
  	select board_seq.nextval from dual
  </select>
  
  </mapper>