<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="qnaMapper">
  
  <sql id="kind">
  	like '%'||#{search}||'%'
  </sql>
 
  <resultMap type="QnaDTO" id="qnaResult">
 	<id property="num" column="num"/>
 	<collection property="fileNames" column="num" ofType="FileDTO" select="selectFile">
 		<id property="fnum" column="fnum"/>
 	<!-- 업로드 테이블에서 데이터를 불러오는 쿼리문의 아이디를 적기 -->
 	<!-- 그럼 그 쿼리문을 다시 실행해서 컬렉션으로 가져오게 됨 -->
 	<!-- collection일 경우에는 아이디 제외하고 변수들을 생략해도 됨 -->
 	<!-- 이렇게 처리할 시에 파일이 없더라도 에러가 뜨지 않음 -->
 	</collection>
  </resultMap>
 
  
  <update id="stepUpdate" parameterType="QnaDTO" >
  	<![CDATA[
  	update qna set step=step+1 where ref=#{ref} and step>#{step}
  	]]>
  </update>
  
  <insert id="reply" parameterType="QnaDTO">
  <selectKey keyProperty="num" resultType="int" order="BEFORE">
  	select board_seq.nextval from dual
  </selectKey>
  	insert into qna 
  	values(#{num},#{title},#{writer},#{contents},sysdate,0,
  	#{ref},#{step}+1,#{depth}+1)
  </insert>
  
  <select id="selectOne" parameterType="int" resultMap="qnaResult">
  	select * from qna where num=#{num}
  </select>
  
  <select id="selectFile" parameterType="int" resultType="FileDTO">
  	select * from upload where num=#{num}
  </select>
  
  <select id="selectList" parameterType="com.iu.util.RowNum" resultType="QnaDTO">
  	select * from
  	(select rownum r, N.* from
  	(select * from qna 
  	<if test="kind == 'Title'">
  		where title
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'Writer'">
  		where writer
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'Contents'">
  		where contents
  		<include refid="kind"></include>
  	</if>
  	order by ref desc, step asc) N)
  	where r between #{startRow} and #{lastRow}
  </select>
  
  <insert id="insert" parameterType="com.iu.board.BoardDTO">
  	<selectKey keyProperty="num" resultType="int" order="BEFORE">
  		select board_seq.nextval from dual
  	</selectKey>
  	insert into qna
  	values(#{num},#{title},#{writer},#{contents},sysdate,0,#{num},0,0)
  </insert>
  
  <update id="update" parameterType="com.iu.board.BoardDTO">
  	update qna set title=#{title}, contents=#{contents} where num=#{num}
  </update>
  
  <delete id="delete" parameterType="int">
	delete qna where num=#{num}
  </delete>
  
  <select id="totalCount" parameterType="com.iu.util.RowNum" resultType="int">
  	select count(*) from qna
  	<if test="kind == 'title'">
  		where title
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'writer'">
  		where writer
  		<include refid="kind"></include>
  	</if>
  	<if test="kind == 'contents'">
  		where contents
  		<include refid="kind"></include>
  	</if>
  </select>
  
  <update id="hitUpdate" parameterType="int">
  	update qna set hit=hit+1 where num=#{num}
  </update>
  
  <select id="getNum" resultType="int">
  	select board_seq.nextval from dual
  </select>
  
  </mapper>