<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.iu.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.iu.board.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.iu.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="java.util.Map" alias="map"/>
		<typeAlias type="com.iu.file.FileDTO" alias="FileDTO"/>
	</typeAliases>
</configuration>